:root {
    --nav-bar-items-height: 52px;

    --lay-logo-width: 40px;
    --lay-logo-height: 38px;

    --user-link-width: 52px;
    --user-link-height: 52px;

    --search-bar-width: clamp(140px, 17vw, 330px);

    --search-icon-width: 19px;
    --search-icon-height: 19px;

    --search-input-placeholder-font-size: 14px;

    --btn-border-radius: 8px;
    --btn-font-size: 18px;

    /* Container sizing */
    --container-padding-left: clamp(10px, 9.5vw, 135px);
    --container-padding-right: clamp(10px, 9.5vw, 135px);
    --container-margin-bottom: 100px;

    --header-container-height: 662px;

    --customer-feedback-container-height-sm: 932px;
    --customer-feedback-container-height: 752px;

    --footer-container-height-sm: 100%;
    --footer-container-height: 648px;
    --footer-button-width: 36px;
    --footer-button-height: 36px;
    /* Image sizing */
    --crisp-icon-width-sm: 37px;
    --crisp-icon-height-sm: 28px;

    --lays-snack-chip-img-background-width-sm: clamp(375px, 70vw, 730px);
    --lays-snack-chip-img-background-height-sm: clamp(375px, 70vw, 730px);

    --chip-img-width-sm: 75px;
    --chip-img-height-sm: 33px;
    --chip-img-width: clamp(200px, 50%, 333px);
    --chip-img-height: clamp(100px, 80%, 145px);

    --item-detail-item-info-max-width: 470px;

    --item-background-width-sm: 339px;
    --item-background-height-sm: 302px;
    --item-background-width: 370px;
    --item-background-height: 330px;

    --popular-item-background-max-width: 570px;
    --popular-item-background-max-height: 484px;
    --popular-item-background-2-max-height: 384px;
    --popular-item-max-width: 324px;
    --popular-item-max-height: 484px;

    --play-video-img-max-width: 20px;
    --play-video-img-max-height: 20px;

    --customer-background-max-width: 470px;
    --customer-img-width: clamp(307px, calc(307px + 9vw), 426px);
    --customer-img-height: clamp(396px, calc(396px + 11vh), 550px);

    --crisps-store-locator-container-height-sm: 342px;
    --crisps-store-locator-container-height: 468px;
    --crisps-store-locator-child-element-width: 470px;

    --footer-chip-img-width-sm: 339px;
    --footer-chip-img-height-sm: 287.853px;
    --footer-chip-img-width: 570px;
    --footer-chip-img-height: 484px;

    --footer-left-section-width: clamp(200px, 35vw, 513px);
    /* Other */
    /* Font size */
    --h1-font-size: clamp(40px, calc(35px + 3vw), 70px);
    --h2-font-size-sm: 26px;
    --h2-font-size: clamp(26px, calc(20px + 2vw), 42px);
    --h3-font-size: 22px;
    --h4-font-size: 20px;

    --p1-font-size: clamp(14px, calc(10px + 1vw), 20px);
    --p2-font-size: clamp(14px, calc(10px + 1vw), 18px);
    --p3-font-size: clamp(14px, calc(10px + 1vw), 16px);
    --p4-font-size: 14px;

    --testimonial-font-size: clamp(14px, calc(10px+1vw), 22px);
    --hr-height: 2px;
    /* sizing */
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    /* color */
    --footer-background-color: #FFF7E3;
    --crisps-store-locator-container-background-color: #FFD36A;

    --black-hover: #3a3a3a;
    --black: #182327;
    --light-gray: rgb(177, 177, 177);
    --gray: #5D696D;
    --light-blue: #80E2FF;
    --blue: #33D1FF;
    --yellow: #FFD36A;
    --white: #FFFFFF;
}



@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Sentient";
    src: url("/fonts/Sentient-Variable.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Default setting */
* {
    color: var(--black);
}

h1,
.h1 {
    font-size: var(--h1-font-size);
}

h2,
.h2 {
    font-size: var(--h2-font-size);
}

h3,
.h3 {
    font-size: var(--h3-font-size);
}

h4,
.h4 {
    font-size: var(--h4-font-size);
}

.p1 {
    font-size: var(--p1-font-size);
}

.p2 {
    font-size: var(--p2-font-size);
}

.p3 {
    font-size: var(--p3-font-size);
}

.p4 {
    font-size: var(--p4-font-size);
}

.testimonial {
    font-size: var(--testimonial-font-size);
}

a:hover {
    text-decoration: underline;
}

/* 
Make the element and the child of it square 
Reference: https://stackoverflow.com/questions/19068070/how-to-style-a-div-to-be-a-responsive-square
*/
.square {
    position: relative;
}

.square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}



/* Specific rules */
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.menu-dropdown>ul>li {
    padding: 2px 0px;
    height: 52px;
}

.nav-bar .nav-link-list {
    margin-left: clamp(10px, 2vw, 50px);
    margin-right: clamp(10px, 2vw, 50px);
}

.nav-bar .nav-link-list>li {
    height: var(--nav-bar-items-height);
}

.nav-bar .user-link {
    width: var(--user-link-width);
    height: var(--user-link-height);
}

.nav-bar img.search-icon {
    width: var(--search-icon-width);
    height: var(--search-icon-height);
    margin: 0 10px;
}

.nav-bar .search-bar {
    width: var(--search-bar-width);
    border-radius: 8px;
    border: 1px solid #D8E0E2;
    font-size: var(--search-input-placeholder-font-size);
}

footer .link-list>li {
    margin-right: 14px;
}

footer .link-list>li>button {
    width: var(--footer-button-width);
    height: var(--footer-button-height);
}

footer .footer-chip-img {
    max-width: var(--footer-chip-img-width-sm);
    max-height: var(--footer-chip-img-height-sm);
}

img.crisp-icon {
    width: var(--crisp-icon-width-sm);
    height: var(--crisp-icon-height-sm);
}



.item-detail .slogan::after {
    content: '';
    position: relative;
    float: right;
    background-image: url("/images/chipImg.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: end;
    width: 75px;
    height: 33px;
}

.item-list.d-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: minmax(var(--item-background-width-sm), 1fr);
    gap: 80px 0px;
}

.item-list.d-grid .add-to-cart-btn {
    left: 70%;
    bottom: -17%;
}

.item-list.d-grid .item-image-wrapper {
    margin-bottom: 18px;
}

.item-list .item-background {
    max-height: 370px;
}

.lays-snack-chip-img-background {
    background-image: url(/images/laysSnackChipBGSm.png);
    width: var(--lays-snack-chip-img-background-width-sm);
    height: var(--lays-snack-chip-img-background-height-sm);
    background-repeat: no-repeat;
    background-size: cover;
}

img.customer-img {
    max-width: var(--customer-img-width);
}

img.popular-item-img {
    max-width: var(--popular-item-max-width);
    max-height: var(--popular-item-max-height);
}

img.playVideoImg {
    max-width: var(--play-video-img-max-width);
    max-height: var(--play-video-img-max-height);
}

.popular-item-container .owl-stage {
    display: flex;
    align-items: flex-end;
}

.popular-item-1 div.popular-item-background {
    max-width: var(--popular-item-background-max-width);
    max-height: var(--popular-item-background-max-height);
}

.popular-item-2 div.popular-item-background {
    max-width: var(--popular-item-background-max-width);
    max-height: var(--popular-item-background-2-max-height);
}

/* Custom owl dots */
.navigate-item-button>button {
    background: transparent;
    border: 0;
}

div.popular-item-container .owl-dot span {
    display: inline-block;
    width: 28px;
    height: 4px;
    margin-right: 6px;
    border-radius: 2px;
    background-color: #D5DDDF;
}

div.popular-item-container .owl-dot.active span {
    background-color: #182327;
}

/* Atomic css below */
/* Container */
.container {
    height: auto;
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-right);
    margin-bottom: var(--container-margin-bottom);
}

.header-container {
    background: linear-gradient(180deg, #02B5EA 0%, rgba(2, 181, 234, 0.15) 100%);
    min-height: var(--header-container-height);
}

.footer-container {
    height: var(--footer-container-height-sm);
    background-color: var(--footer-background-color);
}

.customer-feedback-container .customer-background {
    max-width: var(--customer-background-max-width);
    /* height: var(--customer-background-width); */
}

.crisps-store-locator-container {
    height: var(--crisps-store-locator-container-height-sm);
    background-image: url(/images/crispsStoreLocatorBg.png);
    background-size: contain;
    background-color: var(--crisps-store-locator-container-background-color);
}

.btn {
    padding: 15px 36px;
    border-radius: var(--btn-border-radius);

    font-size: var(--btn-font-size);
    font-family: 'Manrope';
    font-weight: 600;
    cursor: pointer;

    background-color: var(--black);
    color: var(--white);
}

.btn:hover {
    background-color: var(--black-hover);
}

.cursor-pointer {
    cursor: pointer;
}

.menu-btn {
    padding: 10px 10px;
    border-radius: 8px;
}


div.divider {
    width: 100%;
    height: var(--hr-height);
}

/* Img */
img.responsive-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* position */
.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.position-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pos-left-0 {
    left: 0;
}

.pos-right-0 {
    right: 0;
}

.pos-top-neg-20 {
    top: -20%;
}

.pos-top-0 {
    top: 0;
}

.pos-bottom-0 {
    bottom: 0;
}

/* sizing */
.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.w-0 {
    width: 0;
}

.w-fit-content {
    width: fit-content;
}

.h-100 {
    height: 100%;
}

.h-80 {
    height: 80%;
}

.h-50 {
    height: 50%;
}

.h-30 {
    height: 30%;
}

.h-0 {
    height: 0;
}

/* Outline */
.outline-none {
    outline: none;
}

/* Line height */
.line-height-24px {
    line-height: 24px;
}

.line-height-28px {
    line-height: 28px;
}

.line-height-30px {
    line-height: 30px;
}

.line-height-46px {
    line-height: 46px;
}

/* Font */
.font-Manrope {
    font-family: 'Manrope';
}

.font-Sentient {
    font-family: 'Sentient';
}

.font-Inter {
    font-family: 'Inter';
}

.font-style-normal {
    font-style: normal;
}

.font-style-italic {
    font-style: italic;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-22px {
    font-size: 22px;
}

.font-size-26px {
    font-size: 26px;
}

.font-size-42px {
    font-size: clamp(26px, 3vw, 42px);
}

.font-size-70px {
    font-size: clamp(40px, 5vw, 70px);
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

/* color */
.clr-black {
    color: var(--black);
}

.clr-gray {
    color: var(--gray);
}

.clr-light-blue {
    color: var(--light-blue);
}

.clr-yellow {
    color: var(--yellow);
}

.clr-white {
    color: var(--white);
}

/* Background */
.no-background {
    background: transparent;
}

.bg-black {
    background-color: var(--black);
}

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-white {
    background-color: var(--white);
}

/* anchor */
.text-decoration-none {
    text-decoration: none;
}

.list-style-type-none {
    list-style-type: none;
}

.lay-logo {
    width: var(--lay-logo-width);
    height: var(--lay-logo-height);
}

/* Aspect ratio */
.aspect-ratio-1-1 {
    aspect-ratio: 1/1;
}

/* margin, padding, border */
.box-sizing-border-box {
    box-sizing: border-box;
}

.no-padding {
    padding: 0;
}

.padding-top-bottom-55px {
    padding-top: 55px;
    padding-bottom: 55px;
}

.padding-top-bottom-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-left-10px {
    padding-left: 10px;
}

.padding-right-10px {
    padding-right: 10px;
}

.no-margin {
    margin: 0;
}

.no-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-100px {
    margin-top: 100px;
}

.margin-right-6px {
    margin-right: 6px;
}

.margin-right-10px {
    margin-right: 10px;
}

.margin-right-12px {
    margin-right: 12px;
}

.margin-right-18px {
    margin-right: 18px;
}

.margin-right-20px {
    margin-right: 20px;
}

.margin-right-28px {
    margin-right: 28px;
}

.margin-right-30px {
    margin-right: 30px;
}

.margin-right-38px {
    margin-right: 38px;
}

.margin-right-48px {
    margin-right: 48px;
}

.margin-right-70px {
    margin-right: 70px;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-left-6px {
    margin-left: 6px;
}

.margin-left-10px {
    margin-left: 10px;
}

.margin-left-12px {
    margin-left: 12px;
}

.margin-left-18px {
    margin-left: 18px;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-left-28px {
    margin-left: 28px;
}

.margin-left-30px {
    margin-left: 30px;
}

.margin-left-38px {
    margin-left: 38px;
}

.margin-left-48px {
    margin-left: 48px;
}

.margin-left-70px {
    margin-left: 70px;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-bottom-6px {
    margin-bottom: 6px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.margin-bottom-12px {
    margin-bottom: 12px;
}

.margin-bottom-18px {
    margin-bottom: 18px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-bottom-28px {
    margin-bottom: 28px;
}

.margin-bottom-30px {
    margin-bottom: 30px;
}

.margin-bottom-38px {
    margin-bottom: 38px;
}

.margin-bottom-40px {
    margin-bottom: 40px;
}

.margin-bottom-48px {
    margin-bottom: 48px;
}

.margin-bottom-55px {
    margin-bottom: 55px;
}

.margin-bottom-70px {
    margin-bottom: 70px;
}

.margin-bottom-140px {
    margin-bottom: 140px;
}

/*  */
.margin-top-bottom-55px {
    margin-top: 55px;
    margin-bottom: 55px;
}

.no-border {
    border: none;
}

.border-1px-solid-black {
    border: 1px solid black;
}

.border-radius-1px {
    border-radius: 1px;
}

.border-radius-8px {
    border-radius: 8px;
}

.border-radius-12px {
    border-radius: 12px;
}

.border-radius-50 {
    border-radius: 50%;
}

/* Overflow */
.overflow-hidden {
    overflow: hidden;
}

/* Tranform */
.translate-up-100 {
    transform: translateY(-100%);
}

.translate-up-30 {
    transform: translateY(-30%);
}

.translate-up-20 {
    transform: translateY(-20%);
}

.translate-up-10 {
    transform: translateY(-10%);
}

.translate-down-100 {
    transform: translateY(100%);
}

.translate-down-20 {
    transform: translateY(20%);
}

/* Z-index */
.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

/* Flexbox */
.center-items-flex {
    justify-content: center;
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-1 {
    flex: 1;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.row-gap-10px {
    row-gap: 10px;
}

.row-gap-12px {
    row-gap: 12px;
}

.no-row-gap {
    row-gap: 0;
}

.col-gap-10px {
    column-gap: 10px;
}

.col-gap-12px {
    column-gap: 12px;
}

.no-col-gap {
    column-gap: 0;
}

.no-gap {
    gap: 0;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-direction-col-reverse {
    flex-direction: column-reverse;
}

/* Aligning element */
.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-end {
    justify-self: end;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.align-self-start {
    align-self: start;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

/* Display */
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-grid-left-right-md {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'right'
        'left';
}



@media screen and (min-width: 0px) {}

/* From 576px to md*/
@media screen and (min-width: 576px) {}

/* From 768px md to lg*/
@media screen and (min-width: 768px) {

    /* position */
    .pos-absolute-md {
        position: absolute;
    }

    .pos-relative-md {
        position: relative;
    }

    .pos-left-50-md {
        left: 50%;
    }

    .pos-right-0-md {
        right: 0;
    }

    /* Sizing */
    .w-100-md {
        width: 100%;
    }

    .w-90-md {
        width: 90%;
    }

    .w-80-md {
        width: 80%;
    }

    .w-50-md {
        width: 50%;
    }

    .w-30-md {
        width: 30%;
    }

    .w-fit-content-md {
        width: fit-content;
    }

    .font-size-14px-md {
        font-size: 14px;
    }

    .font-size-16px-md {
        font-size: 16px;
    }

    .font-size-18px-md {
        font-size: 18px;
    }

    .font-size-20px-md {
        font-size: 20px;
    }

    .font-size-22px-md {
        font-size: 22px;
    }

    .font-size-26px-md {
        font-size: 26px;
    }

    .font-size-42px-md {
        font-size: 42px;
    }

    .font-size-70px-md {
        font-size: 70px;
    }

    .font-weight-400-md {
        font-weight: 400;
    }

    .font-weight-600-md {
        font-weight: 600;
    }

    .font-weight-700-md {
        font-weight: 700;
    }

    /* Line height */
    .line-height-24px-md {
        line-height: 24px;
    }

    .line-height-30px-md {
        line-height: 30px;
    }

    .line-height-46px-md {
        line-height: 46px;
    }

    /* Flex-box */
    .center-items-flex-md {
        justify-content: center;
        align-items: center;
    }

    .flex-direction-row-md {
        flex-direction: row;
    }

    .flex-direction-row-reverse-md {
        flex-direction: row-reverse;
    }

    .flex-direction-col-md {
        flex-direction: column;
    }

    .flex-direction-col-reverse-md {
        flex-direction: column-reverse;
    }

    img.responsive-img-md {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .d-none-md {
        display: none;
    }

    .d-block-md {
        display: block;
    }

    .d-flex-md {
        display: flex;
    }

    .text-align-center-md {
        text-align: center;
    }

    .justify-content-start-md {
        justify-content: start;
    }

    .justify-content-center-md {
        justify-content: center;
    }

    .justify-content-end-md {
        justify-content: end;
    }

    .justify-content-space-between-md {
        justify-content: space-between;
    }

    .justify-content-space-around-md {
        justify-content: space-around;
    }

    .justify-content-space-evenly-md {
        justify-content: space-evenly;
    }

    .justify-self-start-md {
        justify-self: start;
    }

    .justify-self-center-md {
        justify-self: center;
    }

    .d-grid>.justify-self-end-md {
        justify-self: end;
    }

    .d-flex>.justify-self-end-md {
        justify-self: end;
    }

    .align-items-start-md {
        align-items: start;
    }

    .align-items-center-md {
        align-items: center;
    }

    .align-items-end-md {
        align-items: end;
    }

    .align-self-start-md {
        align-self: start;
    }

    .align-self-center-md {
        align-self: center;
    }

    .align-self-end-md {
        align-self: end;
    }

    .row-gap-10px-md {
        row-gap: 10px;
    }

    .row-gap-12px-md {
        row-gap: 12px;
    }

    .no-row-gap-md {
        row-gap: 0;
    }

    .col-gap-10px-md {
        column-gap: 10px;
    }

    .col-gap-12px-md {
        column-gap: 12px;
    }

    .no-col-gap-md {
        column-gap: 0;
    }

    .no-gap-md {
        gap: 0;
    }

    /* border, padding, margin */
    .no-padding-right-md {
        padding-right: 0;
    }

    .box-sizing-border-box-md {
        box-sizing: border-box;
    }

    .no-padding-md {
        padding: 0;
    }

    .padding-top-bottom-55px-md {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .padding-top-bottom-100px-md {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .no-margin-md {
        margin: 0;
    }

    .no-margin-top-bottom-md {
        margin-top: 0;
        margin-bottom: 0;
    }

    .margin-top-10px-md {
        margin-top: 10px;
    }

    .margin-top-20px-md {
        margin-top: 20px;
    }

    .margin-top-30px-md {
        margin-top: 30px;
    }

    .margin-right-10px-md {
        margin-right: 10px;
    }

    .margin-right-20px-md {
        margin-right: 20px;
    }

    .margin-right-28px-md {
        margin-right: 28px;
    }

    .margin-right-auto-md {
        margin-right: auto;
    }

    .margin-right-30px-md {
        margin-right: 30px;
    }

    .margin-left-10px-md {
        margin-left: 10px;
    }

    .margin-left-20px-md {
        margin-left: 20px;
    }

    .margin-left-30px-md {
        margin-left: 30px;
    }

    .margin-left-auto-md {
        margin-left: auto;
    }

    .margin-bottom-6px-md {
        margin-bottom: 6px;
    }

    .margin-bottom-10px-md {
        margin-bottom: 10px;
    }

    .margin-bottom-12px-md {
        margin-bottom: 12px;
    }

    .margin-bottom-18px-md {
        margin-bottom: 18px;
    }

    .margin-bottom-20px-md {
        margin-bottom: 20px;
    }

    .margin-bottom-28px-md {
        margin-bottom: 28px;
    }

    .margin-bottom-30px-md {
        margin-bottom: 30px;
    }

    .margin-bottom-38px-md {
        margin-bottom: 38px;
    }

    .margin-bottom-40px-md {
        margin-bottom: 40px;
    }

    .margin-bottom-48px-md {
        margin-bottom: 48px;
    }

    .margin-bottom-55px-md {
        margin-bottom: 55px;
    }

    .margin-bottom-70px-md {
        margin-bottom: 70px;
    }

    /* Other */
    /* Img */

    .lays-snack-chip-img-background {
        background-image: url(/images/laysSnackChipBG.png);
        width: 100%;
        height: 100%;
    }

    footer .footer-chip-img {
        max-width: var(--footer-chip-img-width);
        max-height: var(--footer-chip-img-height);
    }


    .footer-container {
        height: var(--footer-container-height);
    }

    .footer-container .left {
        width: var(--footer-left-section-width);
    }

    .item-list.d-grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, minmax(0, var(--item-background-width)));
        gap: 130px 10px;
    }


    .crisps-store-locator-container {
        height: var(--crisps-store-locator-container-height);
    }

    .crisps-store-locator-container>* {
        width: var(--crisps-store-locator-child-element-width);
    }

    .item-detail .slogan::after {
        display: block;
        left: 100%;
        width: 333px;
        height: 145px;
    }

    .item-detail .item-info {
        width: calc(300px + 12vw);
        max-width: var(--item-detail-item-info-max-width);
        padding-right: var(--container-padding-right);
    }
}

/* From 992px lg to xl*/
@media screen and (min-width: 992px) {
    .item-list.d-grid {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, minmax(0, var(--item-background-width)));
        gap: 130px 10px;
    }
}

/* From 1200xl to xxl*/
@media screen and (min-width: 1200px) {

    /* position */
    .pos-absolute-xl {
        position: absolute;
    }

    .pos-relative-xl {
        position: relative;
    }

    .pos-left-50-xl {
        left: 50%;
    }

    .pos-right-0-xl {
        right: 0;
    }
}